.header
  color: $color-white
  text-align: center
  padding-top: 56px
  &__logo
    margin-bottom: 40px
  &__title
    margin-bottom: 24px
  &__subtitle
    margin-bottom: 56px
.map
  border-radius: 8px
  