.side-bar
  position: fixed
  left: 0
  top: 0
  width: 324px
  height: 100%
  border-right: 1px solid $color-bg-lighter
  &__wrap
    padding: 32px 48px
  &__logo
    margin-bottom: 24px
  &__title-wrap
    padding-bottom: 32px
    margin-bottom: 32px
    border-bottom: 1px solid $color-bg-lighter
  &__subtitle
    color: $color-theme-primary  
  &__nav
    
  &__list
    list-style: none
  &__list-item
    font-size: 15px
    line-height: 1.2
    padding: 16px 0
  &__link
    color: $color-text-tertiary
    &:hover
      color: $color-theme-primary