.block-02.js-block#block-02
  +block-title('02', 'Молдова. Общие сведения')
  p.block-02__description 
    |В республике Молдова, или просто Молдавии, живет около 3,5 миллионов человек, это примерно в три раза меньше населения Москвы. Площадь страны сопоставима с Швейцарией и природа здесь точно не менее красива. Вместо сыра и часов тут вино и древняя архитектура, а надежные банки уступают место возможности поторговаться о цене сочных фруктов на рынке. Вот другие интересные факты, которые передают богатую историю страны и ее уникальный колорит:
  .block__content
    .block__content-wrap
      p.block-02__text Часовой пояс Молдовы —  GMT +3, такой же, как в Москве. Когда вы решите написать своим знакомым после дегустации вина, вам не придется решать сложные математические задачи по переводу времени.
      .block-02__img-wrap
        img.block-02__img(src="../../../img/block-02/01.jpg", alt="money")
      p.block-02__text Молдавский лей — официальная валюта в стране, он равен 3,5 рублям. У российских туристов здесь есть любимая фраза «лей, лей, не жалей». Ок, мы придумали это сами, но цены здесь действительно низкие (проезд на троллейбусе в столице стоит всего 2 лея), а кухня ничуть не уступает «раскрученной» грузинской.
      .block__hidden.js-block-hidden
        p.block-02__text По данным ООН, Молдова наименее посещаемая туристами страна в Европе. Мы уверены — европейцы просто не бывали здесь в августе, когда солнце ласково греет, прилавки ломятся от угощений, а парки покрываются зеленью.
        p.block-02__text Если хотите увидеть настоящее молдавское гостеприимство, скажите «мультумес», что означает «спасибо» по-румынски. А вообще, здесь у вас будет много языковой практики. Большинство жителей Молдовы — полиглоты и говорят на двух или трех языках. Официальный язык в стране молдавский, но многие говорят по-румынски, по-русски или по-украински.
        .block-02__img-wrap
          img.block-02__img(src="../../../img/block-02/02.jpg", alt="02")
        p.block-02__text Кишинев — рай для автолюбителей. Можно взять авто напрокат и объехать весь город, не боясь пробок или трудностей с парковкой. Общественный транспорт тоже развит, например, недавно обновили троллейбусный парк — идеальный способ поближе узнать местных жителей. Здесь принято уступать место старшим и нет схваток по правилам смешанных единоборств за право первым сесть в маршрутку.
        p.block-02__text Молдова — вторая нация в мире по количеству выпитого алкоголя в год на одного взрослого человека. Удивлены такой статистикой? Значит вы еще не пробовали молдавское вино!
        .block-02__img-wrap
          img.block-02__img(src="../../../img/block-02/03.jpg", alt="03")
        p.block-02__text После поездки в Молдову вы узнаете, что туры — это не только горящие путевки к морю. Туры, или бизоны, — это еще и древние быки, которых молдаване очень любят. Животные ассоциируются с силой и стойкостью народа.
        p.block-02__text Молдова — страна гастрономических открытий. Особенно здесь любят эксперименты с мамалыгой. Кашу из кукурузной муки подают к жареному мясу, творогу, сметане или салу. Наслаждайтесь сочетанием необычных вкусов и не забудьте спросить рецепт!
        p.block-02__text В Молдове так любят вино, что у напитка есть свой праздник. И длится он целых два дня. Национальный День вина отмечают 3 и 4 октября, в эти дня виноделы открывают свои дома и виноградники для каждого желающего попробовать этот напиток. Не пора ли нам продлить конференцию?
        p.block-02__text Песни и танцы — неотъемлемая часть культуры Молдовы. Первые строчки главной национальной песни Миорица напечатаны даже на банкнотах. Фраза «я не танцую» здесь воспринимается как личное оскорбление, так что скорее перемотайте фильм «Метод Хитча» на то место, где герой Уилла Смита учит своего клиента движениям под музыку.
        .block-02__img-wrap
          img.block-02__img(src="../../../img/block-02/04.jpg", alt="04")
        p.block-02__text В Молдове, как и в России, принято снимать обувь в гостиной. Так вы показываете свое уважение хозяину жилища (но танцевать все равно придется). Как видите, у нас очень много общего и вы обязательно заведете здесь знакомства, которые останутся в памяти навсегда.
  include ../../components/btn-more/btn-more