.block-07
  +block-title('07', 'Молдова и Кишинев. История')
  .block-07__content
    .block-07__content-wrap
      p.block-07__text Представьте себе планету Татуин из киновселенной «Звездных войн». Смешение культур, языков и народностей, а также тяжелые испытания, выпавшие на долю простых людей, — пожалуй, это подходящее сравнение с историей Молдовы и Кишинева.
      p.block-07__text Замок начали строить еще в 1893 году. Его владельцем был последний губернатор Бессарабии Константин Мими, который и назвал поместье в честь себя. Скромно! Мими увлекался виноделием, и даже обучался винному делу во Франции. Именно поэтому он решил построить усадьбу в стиле французских загородных домов для аристократии. Замок так и остался первым и единственным шато в Молдове.
      p.block-07__text Строительство было по-настоящему интернациональным: проект придумали французы, воплощали его итальянцы, а восхищаться выпало русским бизнесменам. Впервые в Молдове здесь использовали цемент при строительстве, а материалы доставляли по железной дороге, заложенной еще в 1874 году.
      p.block-07__text Мими также создал здесь целый винный завод, на котором работали полторы тысячи человек, а вино отправлялось даже во Владивосток. Он работает до сих пор и сегодня перерабатывает до трех тысяч тонн винограда каждый год, по особой технологии, которая не окисляет виноград. Завод выпускает даже собственный бренд вина Mimi.
      p.block-07__text После всех катастроф XX века, внешний вид замка сильно пострадал, а чертежи сгорели в архиве. Для реконструкции пришлось искать снимки замка у потомков Константина Мими (как жаль, что в те времена еще не было Инстаграма).
      .block-07__img-wrap
        img.block-07__img(src="../../../img/block-03/money.jpg", alt="money")
      p.block-07__text Сегодня, кроме самого замка, здесь есть шикарный парк, гостиница, шале, лоджии, банкетный зал, магазин с винами, музей виноделия, и даже бассейн с ионизированной водой. В замке дает концерты «Машина времени», проводятся дегустации и другие мероприятия, а вино льется рекой, словно кто-то заменил воду на этот напиток. Но никакого секрета тут нет, просто замок Мими — образец векового молдавского гостеприимства.

  include ../../components/btn-more/btn-more