.block-04
  +block-title('04', 'Кишинев. Обязательные достопримечательности')
  p.block-04__description 
    |Интересных мест в Кишиневе столько, что если мы расскажем вам обо всех, то вы, скорее всего, не появитесь на наших мероприятиях вовсе. Поэтому мы выбрали только самые впечатляющие и надеемся, что вы не забудете о цели своей поездки. Итак, мы можем рассчитывать на вашу совесть? Точно? Тогда поехали!
  .block-03__content
    .block-03__content-wrap
      .block-04__img-wrap
        img.block-04__img(src="../../../img/block-03/money.jpg", alt="money")
      h4 Церковь Святых  Константина и Елены.
      p.block-09__text Это одно из самых старых зданий в городе, которое было построено неподалеку от реки Бык еще в 1777 году. Как бы вы ни относились к религии, здание точно впечатлит вас своей архитектурой. Церковь построена в старомолдавском стиле со множеством фресок внутри. А иконостас придумал известный в стране карикатурист Ролан Виеру. Вот так история и современное искусство встретились в этом уникальном храме.
      h4 Площадь Великого Национального Собрания.
      p.block-09__text Если вы услышали о каком-то важном событии в Молдове — будьте уверены, оно проходит на главной площади Кишинева. Знаменитые выставки, самые масштабные ярмарки, народные собрания, все это происходит здесь. Когда бы вы ни пришли сюда, скорее всего, станете свидетелем какого-нибудь события. Причем никто не знает, что это будет — съемки фильма или смена правительства. А еще здесь установлена знаменитая триумфальная арка, один из самых узнаваемых памятников архитектуры Молдовы.
      h4 Кафедральный собор Рождества Христова.
      p.block-09__text Еще один храм в нашем списке, и он тоже невероятно красив. Выстроенный из белого камня в стиле русского классицизма, собор стал символом стойкости молдавского народа. В течение вот уже почти двух веков он выдерживает разрушения, но продолжает радовать молдаван и гостей столицы.
      h4 Органный зал.
      p.block-09__text Мы не хотим ворчать по-стариковски и говорить, что российская эстрада уже не та. Но уверяем вас, когда вы услышите мелодии органа из четырех тысяч труб, то слушать Филиппа Киркорова больше не сможете.
      p.block-09__text Именно такой орган установлен в этом высоком здании с колоннами, где ежегодно проходят множество концертов, выставок и фестивалей. В августе летний сезон здесь в разгаре, поэтому обязательно приобщитесь к классической музыке. Ваш плей-лист точно не останется прежним.
      h4 Национальный музей истории Молдовы.
      p.block-09__text Это место докажет, что в Молдове популярны не только музеи вина. Здесь вы найдете много интересного об археологии, культуре и истории Молдовы. А еще есть шанс попасть на редкую выставку, например, именно сюда привозили экспозию работ Леонардо да Винчи.
      h4 Водонапорная башня.
      p.block-09__text В каждом туристическом городе должна быть своя башня. Как и у Эйфелевой или Пизанской, у этой башни тоже есть своя история — именно с ее строительства в 1892 году началось проектирование водопровода в Кишиневе. Но у водонапорной башни есть веское преимущество: здесь с высоты пятого этажа открывается потрясающий панорамный вид на Кишинев. Такого в Пизе вы точно не увидите!
      .block-04__img-wrap
        img.block-04__img(src="../../../img/block-03/money.jpg", alt="money")
      h4 Национальный музей этнографии и естественной истории.
      p.block-09__text Это самый большой и самый старый музей в стране, построенный еще в 1889 году по инициативе шотландского барона Стюарта. С тех пор здесь хранится вся самая подробная информация об истории страны. Если честно, вместо чтения нашего путеводителя, вы просто могли прийти сразу сюда. Но чем бы тогда занимался наш копирайтер?
      h4 Galleria 73.
      p.block-09__text А занимался он вот чем: разрушал миф о том, что Кишинев — это только древняя архитектура и музеи. В столице Молдовы выросло целое поколение молодых музыкантов, художников, актеров и просто творческих людей, которые создают пространства, где могут выразить себя. Galleria 73 — это одновременно магазин и выставочный зал для художников. Возможно, именно здесь вы найдете картину, которая станет новым «Черным квадратом».
      h4 Арт-Лабиринт.
      p.block-09__text Еще одно модное в творческих кругах пространство, где проходят мероприятия на темы экологии, йоги, психологии. Одним словом, тут говорят обо всем, что станет трендом уже совсем скоро. Если думаете, что молодежь увлечена только рэпом — вам сюда.
      h4 Cocoşul Roşu.
      p.block-09__text А сюда отправляйтесь, если вы решили бросить коммерцию и начать лепить горшки из глины. Хотя лучше всего — совмещать оба занятия. В этом творческом пространстве вы найдете учителей по рисованию, ремеслам и многому другому, что поможет отвлечься от рутины холодных звонков и горячих коммерческих предложений.
  include ../../components/btn-more/btn-more