.block-09.js-block#block-09
  +block-title('09', 'Старый Орхей: всегда новые эмоции')
  .block__content
    .block__content-wrap
      p.block-09__text Знаменитый музей под открытым небом, как называют его местные жители, находится в одноименном заповеднике, вблизи реки Реут, в 60 км от Кишинева.
      p.block-09__text История этого места начинается много тысяч лет назад, когда фракийские племена геты и даки основали здесь первое поселение. Случилось это около VI—I вв. до нашей эры (намного раньше появления Старков и Ланнистеров). Затем на этом полуострове, с трех сторон окруженном отвесными скалами, искали убежища от врагов татаро-монголы. Они построили тут город в роскошном восточном стиле — Янги-Шехр.
      p.block-09__text В конце 60-х гг. XIV века, Золотая Орда уже распадалась, и на этом месте появляется молдавское поселение — город Орхей  (название означает «крепость»). На рубеже XV-XVI веков город пережил несколько нападений и был разрушен. Местные жители постепенно перекочевали севернее (сегодня это город Оргеев) и так Орхей стал называться Старым.
      p.block-09__text Главным достопримечательностям тут действительно много сотен лет, но сколько бы раз вы ни бывали здесь, вас всегда будут ждать новые впечатления. Вот основные места для остановок.
      .block-08__img-wrap
        img.block-08__img(src="../../../img/block-09/01.jpg", alt="Развалины турецких бань в Старом Орхее")
      h4 Музей археологических находок.
      p.block-09__text Здесь вы найдете главные предметы, найденные на территории комплекса, а еще бесплатный Wi-Fi, чтобы поделиться ими с миром.
      .block__hidden.js-block-hidden
        h4 Свято-Успенская скальная церковь.
        p.block-09__text Ее вырубили прямо в скале монахи-отшельники в XII-XIII веках. Христиане искали уединения в изолированных и удаленных скалах Старого Орхея. Со временем монахи углублялись все дальше в высокие берега реки Реут, и сегодня здесь есть целые залы, спальни и молельни. Если вы думали, что оставаться в офисе допоздна тяжело — загляните сюда.
        .block-09__img-wrap
        h4 Развалины древней турецкой церкви.
        p.block-09__text Храм в начале XV века здесь построили турки, когда на этой территории существовал город Шехр-аль-Джедид. Развалины последнее, что уцелело от большого поселения со своей системой общественных бань и даже подобием гостиниц. Вот откуда берет свое начало молдавское гостеприимство!
        h4 Скальный монастырь Босия.
        p.block-09__text Босий был главой молдавского поселения здесь в середине XVII века. В те времена мода на жилье у чиновников была совсем иной, чем сейчас, поэтому здесь есть лишь две небольшие комнаты, вырубленные в скале, и надписи на русском и старославянском языках.
        p.block-09__text Кроме памятников архитектуры мы рекомендуем вам обратить внимание здесь еще на три вещи.
        .block-08__img-wrap
          img.block-08__img(src="../../../img/block-09/02.jpg", alt="Виды Старого Орхея заставят вас вернуться сюда снова")
        h4 Роскошные панорамы.
        p.block-09__text Отсюда открывается потрясающий вид на реку Реут, холмы и леса. Просто остановитесь на секунду и насладитесь пейзажем, который заставлял кочевников, всю жизнь проведших в пути, оставаться здесь навсегда.
        h4 Традиционные молдавские жилища.
        p.block-09__text Если спуститься в село Бутучены совсем неподалеку, то вы побываете в домиках, где жили молдаване еще в XIX веке. Внутри сохранились предметы быта, одежды, знаменитые гостиные «каса маре», украшенные изделиями ручной работы, ткацкие станки.
        p.block-09__text В одном из таких дворов расположился ресторан Butuceni, где подают домашние блюда в настоящей гоголевской атмосфере. Аромат галушек из старой печи, ковры на полу и соломенная крыша заставят вас отправиться на поиски красных черевичек. Каков бы ни был результат, вернуться сюда вам захочется совершенно точно. И мы говорим это не про отдельный ресторан, а про целую страну. 

  include ../../components/btn-more/btn-more