.block-03.js-block#block-03
  +block-title('03', 'Молдова и Кишинев. История')
  .block__content
    .block__content-wrap
      p.block-03__text Представьте себе планету Татуин из киновселенной «Звездных войн». Смешение культур, языков и народностей, а также тяжелые испытания, выпавшие на долю простых людей, — пожалуй, это подходящее сравнение с историей Молдовы и Кишинева.
      p.block-03__text Даже название столицы, по одной из версий, происходит от словосочетания на двух языках — тюркском и румынском и означает «новый источник» («Chişla nouă»). Считается, что Кишинев был построен на месте небольшого источника.
      .block-03__img-wrap
        img.block-03__img(src="../../../img/block-03/01.jpg", alt="Фото старой Молдавии")
      p.block-03__text Как и в знаменитой киносаге, у молдавского народа всегда находился герой, который спасал страну в трудные моменты. В середине XIV века им стал Стефан Великий, ставший первым достойным правителем только что возникшего Молдавского княжества. Под его руководством молодое государство и его столица (первое упоминание о Кишиневе датировано 1436 годом), быстро развивались. Молдова стала грозной политической силой в Восточной Европе.
      .block__hidden.js-block-hidden
        p.block-03__text Империя (к сожалению, Османская, а не Галактическая), нанесла ответный удар в XVI веке, установив свою власть на территории княжества. Это был период упадка для страны и столицы — Кишинев неоднократно разрушался. Одно из самых крупных таких разрушений произошло в 1781 году, и в центре города сегодня стоит памятник в честь жертв тех событий.
        p.block-03__text Только в 1812 году по итогам русско-турецкой войны, Молдова освободилась от турецкого ига. Кишинев оказался на территории Российской империи в составе Бессарабии и стал бурно развиваться: получил официальный статус города, здесь появились первые мануфактуры, заводы и банки. Другая часть бывшего Молдавского княжества образовало государство, которое впоследствии стало Румынией, это объясняет тесные культурные связи двух этих стран.
        p.block-03__text В XX веке Молдову и Кишинев ждали трагические события. С 1918 по 1940 годы Кишинев входил в состав Румынии, в 1940 году пережил сильное землетрясение, а в период Великой Отечественной войны здесь находилось Кишиневское гетто, ужасное и печально известное место, которое не смогли бы вообразить даже режиссеры фантастических фильмов.
        p.block-03__text Тем не менее, молдавский народ перенес все испытания судьбы и сохранил свою яркую самобытность. В 1944 году здесь жили всего 25 тысяч человек, а к 1950 году уже 134 тысячи.
        p.block-03__text В 1991 году республика Молдова вышла из состава СССР и провозгласила независимость. С 2014 года экономика страны неизменно растет, был установлен безвизовый режим с государствами Евросоюза.
        p.block-03__text Собирая лучшее от разных культур и обычаев, молдавский народ всегда оставался гостеприимным, ярким и самобытным. И сегодня, приходя на центральную площадь Кишинева или отправляясь на местный рынок, вы станете свидетелем кипящей «межгалактической» жизни, которая отражает богатую и местами трагическую историю страны.
        p.block-03__text В Молдове, как и в России, принято снимать обувь в гостиной. Так вы показываете свое уважение хозяину жилища (но танцевать все равно придется). Как видите, у нас очень много общего и вы обязательно заведете здесь знакомства, которые останутся в памяти навсегда.
  include ../../components/btn-more/btn-more