.block-08.js-block#block-08
  +block-title('08', '«Крикова»: лучше любых декораций')
  .block__content
    .block__content-wrap
      p.block-08__text Где еще можно прогуляться по улице Каберне Совиньон на глубине 80-ти метров под землей и встать в один ряд с Юрием Гагариным? Кончено же, только в Молдове! Если вы подумали, что узнали о вине все и попробовали каждый сорт, значит, пришло время отправиться в Криково.
      p.block-08__text Этот маленький городок всего в 11 км от Кишинева прославился на весь мир, благодаря своему комбинату игристых вин. Шампанское здесь делают традиционным способом, выдерживая напиток в бутылках, бережно переворачивая их согласно вековым рецептам, а затем удаляя осадок. Даже сами французы не нашли бы к чему придраться, поэтому, побывав здесь, вы с гордостью можете заявлять, что пробовали настоящее шампанское.
      .block-08__img-wrap
        img.block-08__img(src="../../../img/block-08/01.jpg", alt="Знаменитые винные лабиринты комбината «Крикова»")
      .block__hidden.js-block-hidden
        p.block-08__text История появления комбината «Крикова» чем-то напоминает поиск Священного Грааля из фильмов про Индиану Джонса. Только после Великой Отечественной войны виноделы и геологи искали в подземельях Молдовы не мифический кубок, а вполне реальное место, где можно хранить вино. Почти все наземные склады были уничтожены. Как нельзя лучше подошли штольни под городом Криково, в которых  добывали известняк еще для строительства Кишинева. Так в 1952 году началась история этого удивительного подземного города.
        p.block-08__text Известняковые лабиринты растянулись на целых 70 км, а у каждой «улицы» есть свое название: Дионис, Фетяска, Каберне Совиньон. Самая знаменитая коллекция здесь с говорящим названием: «Государственная Винотека». Утверждается, что она берет свое начало от коллекции вин Германа Геринга, которую привезли сюда после войны в качестве трофея. А самое старое вино здесь — «Пасхальный Иерусалим» 1902 года, последняя бутылка в мире, как говорят.
        p.block-08__text Эта подземная галерея настолько важна для молдаван, что объявлена на законодательном уровне национальным культурным наследием. Здесь бывали Юрий Гагарин, Ангела Меркель, Джон (а лучше бы Джим) Керри. Тут есть многочисленные дегустационные залы, магазин, где можно купить вина, и даже подземный кинотеатр. Кажется, глупец Индиана Джонс искал совсем не там!

  include ../../components/btn-more/btn-more